<mat-card>
  <h1>{{ btnTitle }}</h1>
  <form [formGroup]="funcionariosForm" (ngSubmit)="submit()" >
    <input type="hidden" name="id" id="id" formControlName="id"/>

    <div class="input-box">
      <mat-form-field>
        <mat-label for="nome">Nome</mat-label>
          <input
            matInput
            type="text"
            name="nome"
            id="nome"
            placeholder="Digite o nome do funcionário"
            formControlName="nome"
            required
            class="form-control text-dark"
          />
      </mat-form-field>
    </div>

    <div class="input-box">
      <mat-form-field>
        <mat-label for="sobrenome">Sobrenome</mat-label>
        <input
          matInput
          type="text"
          name="sobrenome"
          id="sobrenome"
          placeholder="Digite o sobrenome do funcionário"
          formControlName="sobrenome"
          required
          class="form-control text-dark"
        />
      </mat-form-field>
    </div>

    <div class="input-box">
      <mat-form-field>
        <mat-label for="departamento">Departamento</mat-label>
        <mat-select
          id="departamento"
          formControlName="departamento"
          required
          class="form-select"
        >
          <mat-option value="RH">RH</mat-option>
          <mat-option value="Financeiro">Financeiro</mat-option>
          <mat-option value="TI">TI</mat-option>
          <mat-option value="Comercial">Comercial</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="input-box">
      <mat-form-field>
        <mat-label for="turno">Turno</mat-label>
        <mat-select
          id="turno"
          formControlName="turno"
          required
          class="form-select"
        >
          <mat-option value="Manha">Manha</mat-option>
          <mat-option value="Tarde">Tarde</mat-option>
          <mat-option value="Noite">Noite</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="btn-box">
      <button type="submit" [disabled]="!funcionariosForm.valid" mat-raised-button color="accent">{{btnAction}}</button>
      <button type="button" routerLink="/funcionarios" mat-raised-button>Voltar</button>
    </div>
  </form>
</mat-card>